<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="SCU COEN 315 Web Architecture and Protocols class homework 4">
        <meta name="keywords" content="COEN 315, Manpreet Sokhi, SCU, Web Architecture and Protocols">
        <meta name="author" content="Manpreet Sokhi">
        
        <title>Bart HW</title>

        <link rel="stylesheet" href="/styles/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <div class="topnav">
        <a href="home.ejs">Home</a>
        <a class="active" href="arrivals.ejs">Arrivals</a>
        <a href="stations">Stations</a>
        <a href="trips">Trips</a>
    </div>

    <body>
        <p>Welcome to BART Arrivals</p>
    </body>

    <footer>
        <div class="footer">Built by
            <a href="https://www.manpreetsokhi.live" target="_blank">Manpreet Sokhi</a>
        </div>
    </footer>
</html>