<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="SCU COEN 315 Web Architecture and Protocols class homework 4">
        <meta name="keywords" content="COEN 315, Manpreet Sokhi, SCU, Web Architecture and Protocols">
        <meta name="author" content="Manpreet Sokhi">
        <title>Bart HW</title>
    </head>

    <body>
        Bobby
    </body>
</html>
